services:
  eliteapi:
    image: eliteapi:latest
    restart: unless-stopped
    build:
      context: .
      dockerfile: EliteAPI/Dockerfile
    env_file:
      - ./EliteAPI/.env
    depends_on:
      - pgbouncer
      - cache
      - logging
      - prometheus
    ports:
      - "7008:7008"
      - "9102:9102"
    volumes:
      - ./EliteAPI/TempKeys:/app/TempKeys
      - /assets:/app/assets
    networks:
      - eliteapi-network
  database:
    image: postgres:18-alpine
    shm_size: 1gb
    restart: always
    env_file:
      - ./EliteAPI/.env
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-eliteapi}
      - POSTGRES_USER=${POSTGRES_USER:-user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?POSTGRES_PASSWORD env variable is required}
      - POSTGRES_DB=${POSTGRES_DB:-eliteapi}
    command: >
      postgres
      -c shared_buffers=4GB
      -c io_method=io_uring
      -c max_connections=${POSTGRES_MAX_CONNECTIONS:-100}
    volumes:
      - db-data:/var/lib/postgresql
      - ./EliteAPI/Data/setup.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - eliteapi-network
    healthcheck:
      test: [ 'CMD', 'pg_isready', '-U', '${POSTGRES_USER:-user}', '-d', '${POSTGRES_DB:-eliteapi}' ]
  cache:
    image: redis:8.4-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD:?REDIS_PASSWORD env variable is required}
    ports:
      - '${REDIS_PORT:?REDIS_PORT env variable is required}:6379'
    expose:
      - '${REDIS_PORT:?REDIS_PORT env variable is required}'
    volumes:
      - redis-data:/data
    networks:
      - eliteapi-network
  logging:
    image: grafana/grafana-oss:latest
    restart: unless-stopped
    ports:
      - '8081:3000'
    expose:
      - '8081'
    volumes:
      - ./EliteAPI/Data/Grafana/Datasources:/etc/grafana/provisioning/datasources
      - ./EliteAPI/Data/Grafana/Dashboards:/etc/grafana/provisioning/dashboards
      - ./EliteAPI/Data/Grafana/config.ini:/etc/grafana/config.ini
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - eliteapi-network
  prometheus:
    image: prom/prometheus:v3.5.0
    restart: unless-stopped
    ports:
      - '9090:9090'
    expose:
      - '9090'
    volumes:
      - ./EliteAPI/Data/Prometheus:/etc/prometheus
      - prometheus-data:/data
    networks:
      - eliteapi-network
  pgbouncer:
    container_name: pgbouncer
    image: edoburu/pgbouncer:latest
    restart: unless-stopped
    environment:
      - DB_USER=${POSTGRES_USER:-user}
      - DB_PASSWORD=${POSTGRES_PASSWORD:?POSTGRES_PASSWORD env variable is required}
      - DB_HOST=database
      - DB_NAME=${POSTGRES_DB:-eliteapi}
      - AUTH_TYPE=scram-sha-256
      - POOL_MODE=transaction
      - ADMIN_USERS=${POSTGRES_USER:-user}
      - MAX_CLIENT_CONN=1000
      - LOGFILE=/var/log/pgbouncer/pgbouncer.log
      - VERBOSE=0
      - EXTRA_CONFIG=ignore_startup_parameters=extra_float_digits,timezone,client_encoding
    volumes:
      - ./logs:/var/log/pgbouncer
    ports:
      - "${POSTGRES_PORT:?POSTGRES_PORT env variable is required}:5432"
    depends_on:
      - database
    networks:
      - eliteapi-network
    healthcheck:
      test: [ 'CMD', 'pg_isready', '-h', 'localhost', '-p', '5432', '-U', '${POSTGRES_USER:-user}', '-d', '${POSTGRES_DB:-eliteapi}' ]


networks:
  eliteapi-network:
    name: elite-network
    driver: bridge

volumes:
  db-data: { }
  grafana-data: { }
  prometheus-data: { }
  redis-data: { }