services:
  eliteapi:
    image: eliteapi:latest
    build:
      context: .
      dockerfile: EliteAPI/Dockerfile
    env_file:
      - ./EliteAPI/.env
    environment:
      - POSTGRES_CONNECTION="Server=database;Port=5432;Database=${POSTGRES_DB:-eliteapi};Username=${POSTGRES_USER:-user};Password=${POSTGRES_PASSWORD:?POSTGRES_PASSWORD env variable is required};Include Error Detail=true"
    depends_on:
      - database
      - cache
      - logging
      - prometheus
    ports:
      - "7008:7008"
      - "9102:9102"
    volumes:
      - ./EliteAPI/TempKeys:/app/TempKeys
    networks: 
        - eliteapi-network
  database:
    image: timescale/timescaledb:latest-pg15
    shm_size: 512mb
    restart: always
    env_file:
      - ./EliteAPI/.env
    command: -c 'max_connections=${POSTGRES_MAX_CONNECTIONS:-100}'
    ports:
        - '${POSTGRES_PORT:?POSTGRES_PORT env variable is required}:5432' 
    expose:
        - '${POSTGRES_PORT:?POSTGRES_PORT env variable is required}'
    volumes:
        - db-data:/var/lib/postgresql/data
        - ./EliteAPI/Data/setup.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
        - eliteapi-network
  cache:
    image: redis:7.4.1
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD:?REDIS_PASSWORD env variable is required}
    ports:
      - '${REDIS_PORT:?REDIS_PORT env variable is required}:6379'
    expose:
        - '${REDIS_PORT:?REDIS_PORT env variable is required}'
    volumes:
        - redis-data:/data
    networks:
        - eliteapi-network
  logging:
    image: grafana/grafana-oss:latest
    restart: unless-stopped
    ports:
        - '8081:3000'
    expose:
        - '8081'
    volumes:
        - ./EliteAPI/Data/Grafana/Datasources:/etc/grafana/provisioning/datasources
        - ./EliteAPI/Data/Grafana/Dashboards:/etc/grafana/provisioning/dashboards
        - ./EliteAPI/Data/Grafana/config.ini:/etc/grafana/config.ini
        - grafana-data:/var/lib/grafana
    depends_on:
        - prometheus
    networks:
        - eliteapi-network
  prometheus:
    image: prom/prometheus:v3.4.2
    restart: unless-stopped
    ports:
        - '9090:9090'
    expose:
        - '9090'
    volumes:
        - ./EliteAPI/Data/Prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        - prometheus-data:/data
    networks:
        - eliteapi-network
        
networks:
    eliteapi-network:
        name: elite-network
        driver: bridge

volumes:
    db-data: {}
    grafana-data: {}
    prometheus-data: {}
    redis-data: {}