name: Integration Tests

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  test:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        
    - name: Restore dependencies
      run: dotnet restore Elite.sln
      
    - name: Build
      run: dotnet build --no-restore Elite.sln
      
    - name: Test
      run: dotnet test --no-build --verbosity normal EliteAPI.Tests/EliteAPI.Tests.csproj
